<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Team</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/paper.html">Paper</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/crises.html">Crises</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/data.html">Data</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/codebook.html">Codebook</a>
</li>
